@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #1976d2;
    --secondary-color: #f50057;
    --background-color: #ffffff;
    --paper-color: #f4f6f8;
    --font-family: 'Lora', 'Gupter', Arial, sans-serif;
  }
  
  body {
    background-color: var(--background-color);
    color: #333; /* Text color */
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    line-height: 1.6;
  }
  
  .text-primary {
    color: var(--primary-color);
  }
  
  .bg-primary {
    background-color: var(--primary-color);
    color: #fff;
  }
  
  .text-secondary {
    color: var(--secondary-color);
  }
  
  .bg-secondary {
    background-color: var(--secondary-color);
    color: #fff;
  }